/* Color Theme Swatches in Hex */
.Color-Theme-Swatches-in-Hex-1-hex {
  color: #4981f2;
}

.Color-Theme-Swatches-in-Hex-2-hex {
  color: #4183d9;
}

.Color-Theme-Swatches-in-Hex-3-hex {
  color: #f2911b;
}

.Color-Theme-Swatches-in-Hex-4-hex {
  color: #f28322;
}

.Color-Theme-Swatches-in-Hex-5-hex {
  color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
  width: 300px;
}

.logo-sorteio h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #4183d9;
}

.resultado {
  display: flex;
  margin: 50px auto;
}

main h2 {
  font-size: 20px;
  color: #4183d9;
}

main input,
main button {
  width: 15%;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}

main input {
  border: 2px solid #4183d9;
  margin-bottom: 20px;
}

main button {
  border: 2px solid #f28322;
  margin-bottom: 100px;
  background-color: #4183d9;
}

.resultado::placeholder {
  display: flex;
  justify-content: center;
  color: #4183d9;
  font-size: 18px;
  text-align: center;
}

.numero-sorteado {
  margin-left: 10px;
  /* Ajuste o valor conforme necessário */
}